@import '../../globals';

.side-bar {
	transition: 0.3s all cubic-bezier(1, 0, 0, 1);
	&.hidden {
		transform: translateX(-100%);
	}
	position: absolute;
	z-index: 10;
	height: 100vh;
	width: 350px;
	background-color: $color-black;
	padding: 40px;
	.logo {
		i {
			color: $color-white;
			font-size: 60px;
		}
		h1 {
			margin: 0px;
			color: $color-white;
			margin-bottom: 5px;
		}
		p {
			margin: 0px;
			color: $color-light-gray;
		}
	}
	a {
		font-size: 18px;
		color: $color-light-gray;
		font-weight: bold;
		text-decoration: none;
	}
}
