@import '../../globals';

.world-map {
	align-content: center;
	display: flex;
}

.map {
	border-radius: 2px;
	display: flex;
	margin: 0 auto;
	background-color: #DAEFFF;
	//height: 100vh;
}

.map-container {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.color-legend {
	position: absolute;
	bottom: 20px;
	left: 20px;
	height: 40px;
	background-color: white;
	width: 100px;
}

.geography, .marker {
	user-select: none;
}

.zoom-controls {
	position: absolute;
	right: 40px;
	bottom: 140px;
}

.zoom-control {
	font-size: 22px;
	color: $color-white!important;
	background-color: $color-black;
	display: block;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: $box-shadow;
	&.reset {
		border-radius: $border-radius;
	}
	&.top {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}
	&.bottom {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}

.map-tooltip {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	padding: 0 0 10px;
}

.tooltip-items {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 1px;
	margin-bottom: 2px;
	> * {
		padding: 2px;
		flex: 1;

		&:last-child {
			text-align: right;
		}
	}
}

// override react-tooltip default styles
.__react_component_tooltip {
	border: 1px solid #555;
	background-color: #333 !important;
	opacity: 1 !important;
	color: #fafafa !important;
}
