@import '../../globals';

.variables-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	z-index: 5;
}
.variables {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-white;
	padding: 20px 40px;
	border-radius: $border-radius;
	position: relative;
	.large {
		font-size: 26px;
		font-weight: bold;
	}
}
