@import '../../globals';

$title-fontsize: 19px;
$subtitle-fontsize: 12px;

.filter-container {
    margin: 15px auto;
}

.filter-title {
    font-size: $title-fontsize;
    color: $color-white;
    font-weight: bold;
    text-decoration: none;
}

.filter-left-scale {
    font-size: $subtitle-fontsize;
    color: $color-white;
    display: inline-block;
}

.filter-right-scale {
    font-size: $subtitle-fontsize;
    color: $color-white;
    float: right;
}

.slider-body {
    margin: 0px auto 75px;
}

.rc-tooltip { z-index: 1500; }
.rc-slider-tooltip { z-index: 1500; }